*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}


main{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;

    .text{
        position: absolute;
        text-align: center;
        color: white;
        bottom: 3rem;
        z-index: 99999;
        left: 50%;
        transform: translate(-50%);
        p{
            font-size: 1rem;
            font-weight: 200;
        }
        h1{
            font-size: 3rem;
            letter-spacing: 7px;
            font-weight: 500;
        }
    }
    
   
}

main::before{
    content: '';
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);

}



header{
    width: 100%;
    position: absolute;
    top: 0;
    background-color:transparent;
    padding: 20px;
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999;
    border-bottom:1px solid rgba(255, 255, 255, 0.295) ;

    i{
        cursor: pointer;
    }

}
header:hover{
    background-color: black;
}

.sidbar{
    position: absolute;
    top:6rem;
    width: 25rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 9999999;
    transform: translateX(-100%);
    transition: 0.5s;
    .menu{
        width: 100%;
        height: 6rem;
        border-bottom:1px solid rgba(255, 255, 255, 0.216) ;
        font-size: 1.5rem;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }
    .list{
        width: 100%;
        padding: 15px;
       
        .box{
            width: 100%;
            height:5rem;
            padding: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.171);
            a{
                font-weight: 200;
                color: white;
                font-size: 2rem;
                text-decoration: none;
            }
        }
       
    }
}
.btn, .btn2{
    cursor: pointer;
}


.imgbox{
    margin-top: 2rem;
    width: 100%;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 2rem;
    .item{
        width: 25rem;
        height: 40rem;
        animation: animate 1s linear ;
        animation-range: entry cover 30%;
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

    }
}

.text-box{
    margin-top: 5rem;
    padding:20px ;
    width: 100%;
    text-align: center;
    color: white;
    h1{
        font-weight: 500;
        font-size: 2.5rem;
        letter-spacing: 2px;
    }
    p{
        padding-top:1rem ;
        font-size: 0.7rem;
    }
}

.item-box{
    width: 100%;
    padding: 25px;
    display: grid;
    gap: 1rem;
    color:white;
    .boxx{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 20px;
        background-color:#1a1a1a;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.13);
        h1{
            font-size: 2.5rem;
            font-weight: 500;
        }
        p{
            width: 80%;
        }
        img{
            width: 50%;
        }
    }
}

.box1{
    margin-top: 2rem;
    height: 20rem;
    overflow: hidden;
}

.box3{
    height: 20rem;
    overflow: hidden;
}
.box4{
    height: 20rem;
    overflow: hidden;
}

.box5{
    position: relative;
    overflow: hidden;
    height: 20rem;
    img{
        position: absolute;
        bottom: -30%;
    }
}

.animation{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow: hidden;
    margin-top: 2rem;
    width: 100%;
    height: 30rem;
    .scroller-box{
        display: flex;
        background-color:black;
        animation: trave 5s linear infinite ;

        img{
            width: 100%;
           
        }
    }
}
.animation::before{
    content: '';
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 70%;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);

}
.animation::after{
    content: '';
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);

}
.email-box{

    position: absolute;
    z-index: 999;
    display:flex;
    gap: 8px;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    color:white;
    left: 50%;
    top: 7rem;
    transform: translate(-50%);
    text-align: center;
    h1{
        font-size: 3rem;
        font-weight: 500;
    }
    button{
        padding:10px;
        font-size: 1rem;
        font-weight: bold;
        background-color: rgb(168, 163, 163);
        border: none;
        border-radius: 5px;
    }
    .email{
        border: 1px solid rgba(255, 255, 255, 0.066);
        color: rgb(188, 183, 183);
        background-color: #171717;
    }
}
.trend{
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.122);
}

.trend-box{
    padding: 20px;
    width: 100%;
    overflow: scroll;
}
@keyframes trave{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}






@media(min-width:1020px){

    .text-box{
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 1rem;
        }
    }

    .item-box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);

        .box1{
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .box2{
            grid-row-start: 1;
            grid-row-end: 4;
        }
        .box3{
            margin-top: 3rem;
         
        }
    }
    .email-box{
        width: 40rem;
    }

}

